/* Tailwind csss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css variable */

:root {
  --main_bg: #340303;
  --page_color: #c57b7b;
  --input_color: #c719b3;
  --primary_bg: #0d000c;
  
}
/* add fonts */
@font-face {
  font-family: "Gilroy Black";
  src: url(/fontend/src/assets/fonts/Gilroy-Black.ttf);
}
/* @font-face {
  font-family: "Gilroy Light";
  src: url(/fontend/src/assets/fonts/Gilroy-Light.ttf);
}
@font-face {
  font-family: "Gilroy Medium";
  src: url(/fontend/src/assets/fonts/Gilroy-Medium.ttf);
} */
/* @font-face {
  font-family: "Gilroy SemiBold";
  src: url(/fontend/src/assets/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy Bold";
  src: url(/fontend/src/assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy Black";
  src: url(/fontend/src/assets/fonts/Gilroy-Black.ttf);
} */